/*right content*/
.weekly{
	height: 150px;
	width: 270px;
	margin-bottom: 15px;
}
.main-content-right a{
	font-size: 13px;
	color: #555555;
	height: 28px;
	line-height: 28px;
	list-style: none;
}
.main-content-right a:hover{
	color: #259;
}
.main-content-right li:hover{
	background-color: #eff6fa;
	border-radius: 3px;
	margin-left: -10px;
	padding-left: 10px;
}
.div-desk-topic{
	height: 25px;
	line-height: 25px;
	position: relative;
}
.main-content-right .look-all{
	position: absolute;
	right: 0px;
	top: -2px;
	font-size: 12px;
	color: #698ebf;
}
.right-content-icon{
	height: 14px;
	width: 14px;
	background-image: url(../img/sprite-icon.png);
	display: inline-block;
	margin-right: 5px;
	position: relative;
	top: 3px;
}
.main-content-right #myDraft{
	background-position: -152px -4px;
}
.main-content-right li:hover #myDraft{
	background-position: -152px -24px;
}
.main-content-right #myCollect{
	background-position: -167px -4px;
}
.main-content-right li:hover #myCollect{
	background-position: -167px -24px;
}
.main-content-right #myFocusQuestion{
	background-position: -183px -4px;
}
.main-content-right li:hover #myFocusQuestion{
	background-position: -183px -24px;
}
.main-content-right #questionInvitedMe{
	background-position: -200px -4px;
}
.main-content-right li:hover #questionInvitedMe{
	background-position: -200px -24px;
}
.main-content-right #allQuestion{
	background-position: -217px -4px;
}
.main-content-right li:hover #allQuestion{
	background-position: -217px -24px;
}
.main-content-right #topicSquare{
	background-position: -234px -4px;
}
.main-content-right li:hover #topicSquare{
	background-position: -234px -24px;
}
.main-content-right #publicEditTrend{
	background-position: -269px -4px;
}
.main-content-right li:hover #publicEditTrend{
	background-position: -269px -24px;
}
.main-content-right #communityServiceCenter{
	background-position: -286px -4px;
}
.main-content-right li:hover #communityServiceCenter{
	background-position: -286px -24px;
}
.main-content-right .a-desk-topic{
	height: 34px;
	line-height: 34px;
}
.main-content-right .a-desk-topic img{
	display: inline-block;
	position: relative;
	top:6px;
	border-radius: 4px;
	margin-right: 6px;
	height: 25px;
	width: 25px;
}
.right-footer a{
	font-size: 13px;
	color: #999;
	line-height: 25px;
}
.right-footer a:hover{
	color: #999;
	text-decoration: underline;
}
.right-footer span{
	color: #999;
	line-height: 25px;
	margin: 0px 2px;
}
/*right content end*/
/*===============================================================*/
/*main content left*/
.main-content-left-topbar{
	height: 20px;
	width: 100%;
	color: #444;
}
.new-trend{
	float: left;
}
.trend-icon{
	height: 16px;
	width: 16px;
	background-image: url(../img/sprite-icon.png);
	background-position: -71px -88px;
	display: inline-block;
	position: relative;
	top: 4px;
	padding-right: 2px;
}
.main-setting{
	float: right;
	color: gray;
}
.main-setting:hover{
	text-decoration: underline;
	color: #698ebf;
}
.main-setting-icon{
	height: 16px;
	width: 16px;
	display: inline-block;
	background-image: url(../img/sprite-icon.png);
	background-position: -88px -148px;
	position: relative;
	top: 5px;
	padding-right: 2px;
}
/*main content left end*/
